@media(max-width:1300px) {
	.wrap {
		width: 100%;
	}
	#container {
		width: 100%;
	}
}
@media(max-width:1240px) {
	
}
@media(max-width:1190px) {
	#Newsletter {
		form {
			margin-top: 25px;
		}
	}
}
@media(max-width:1170px) {
	header {
		#mainbar {
			article {
				&.right {
					ul {
						li {
							font-size: 16pt;
							padding-right: 15px;
						}
					}
				}
			}
		}
	}
	footer {
		article {
			margin: 0 15px;
			text-align: center;
		}
	}
	#divider {
		li {
			padding-right: 25px;
			font-size: 12pt;
		}
	}
}
@media(max-width:1024px) {
	header {
		#mainbar {
			article {
				&.right {
					ul {
						li {
							font-size: 12pt;
							padding-right: 10px;
						}
					}
				}
			}
		}
	}
	#blogListing  {
		a {
			width: 50%;
		}
	}
}
@media(max-width:999px) {
	header {
		#topbar {
			article {
				&:first-child {
					font-size: 13pt;
				}
			}
		}
	}
	footer {
		article {
			&:last-child {
				margin-top: 25px;
			}
			ul {
				li {
					text-align: center;
				}
			}
		}
	}
}
@media(max-width:960px) {
	#cats {
		article {
			span {
				width: 250px;
				height: 250px;
				&:after {
					width: 250px;
					height: 250px;
				}
			}
		}
	}
}
@media(max-width:895px) {
	#divider {
		li {
			padding-right: 20px;
			font-size: 10pt;
		}
	}
}
@media(max-width:878px) {
	header {
		#mainbar {
			height: 50px;
			line-height: 50px;
			article {
				img {
					width: 250px;
					top: 10px;
				}
			}
		}
		#topbar {
			article {
				&.left {
					font-size: 12pt;
				}
			}
		}
	}
}
@media(max-width:768px) {
	@import "../woocommerce/woocommerce-smallscreen.scss";
	.nomobile {
		display: none;
	}
	.showmobile {
		display: block;
	}
	.logo {
		width: 150px;
		display: inline-block;
	}
	#divider {
		display: none;
		li {
			display: block;
			margin: 0;
			padding: 0;
			font-size: 12pt;
			line-height: 24pt;
		}
	}
	#cats {
		display: none;
	}
	.wrap {
		&#singlePage {
			h1 {
				margin: 15px 0 0;
			}
			.copy {
				width: 100%;
				padding: 0 15px;
			}
			#sidebar {
				width: 100%;
				#Newsletter {
					display: none;
				}
				ul.products {
					li.product {
						width: 100%;
						padding-bottom: 15px;
					}
				}
			}
		}
	}
	#banner {
		height: auto;
		#BannerCTA {
			width: 100%;
			height: auto;
			box-sizing: border-box;
			padding: 15px 15px 25px;
			position: relative;
			@include transform(translate(0,0));
			article {
				top: auto;
				@include transform(translate(0,0));
				h1 {
					font-size: 36pt;
				}
				p {
					font-size: 18pt;
					line-height: 21pt;
					margin-bottom: 15px;
				}
			}
		} 
	} 
	header {
		background: $blue;
		overflow: hidden;
		height: 60px;
		@include transition(all 0.3s $authenticMotion);
		section {
			background: $blue;
			box-sizing: border-box;
			padding: 10px;
		}
		#mobileHeader {
			position: relative;
			z-index: 999;
		}
		.cartbutton {
			margin-right: 15px;
			line-height: 40px;
		}
		.Menu {
			float: right;
			position: relative;
			z-index: 13;
			width: 35px;
			vertical-align: middle;
			@include transition(all 0.3s $easeInOutBack);
			.bar {
				background: white;
				display: block;
				width: 100%;
				height: 5px;
				margin: 5px auto;
				position: relative;
				@include transition(all 0.3s $easeInOutBack);
			}
			&:hover {
				cursor: pointer;
			}
		}
		.dropdown {
			@include transform(translate(0,-60px));
			position: relative;
			z-index: 10;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					text-align: center;
					vertical-align: middle;
					opacity: 0;
					line-height: 40px;
					font-family: 'Shadows Into Light', cursive;
					letter-spacing: 1px;
					@include transform(translate(0,50px));
					@include transition(all 0.3s $authenticMotion);
					&.in {
						opacity: 1;
						@include transform(translate(0,0));
						@include transition(all 0.3s $authenticMotion);
					}
					a {
						color: white;
						font-size: 21pt;
					}
				}
			}
		}
	}
	h1 {
		margin: 0 0 15px;
	}
	#blogListing  {
		a {
			width: 100%;
			article {
				height: 200px;
				.playwrap {
					height: 200px;
				}
			}
		}
	}
	#container {
		width: 100%;
		h1 {
			margin: 15px 0;
		}
	}
	.woocommerce-page {
		#sidebar {
			margin-bottom: 15px;
			i {
				display: none;
			}
			.widget {
				display: block;
				width: 100%;
				box-sizing: border-box;
				padding: 0 15px;
				margin-bottom: 10px;
				select {
					width: 100%;
					margin: 0;
					padding: 0 10px;
				}
			}
		}
		#content {
			div.product {
				div.images {
					width: 100%;
					margin: 0 0 15px;
					.woocommerce-product-gallery__wrapper {
						padding: 0;
						.woocommerce-product-gallery__image {
							vertical-align: middle;
							margin: 0 2px;
							img {
								width: auto;
								height: 50px;
							}
							&:first-child {
								margin-bottom: 5px;
								img {
									height: auto;
								}
							}
						}
					}
				}
				div.summary {
					width: 100%;
					padding: 0 15px;
					h1 {
						font-size: 24pt;
						line-height: 30pt;
						text-align: center;
					}
					.price {
						text-align: center;
					}
				}
				form.cart {
					div.quantity {
						float: none;
						display: inline-block;
						input {
							border: 1px solid $lightgrey;
						}
					}
					.button {
						float: none;
					}
					.variations {
						td.label {
							width: 120px;
							text-align: right;
							padding-right: 15px;
						}
					}
					.single_variation_wrap {
						display: block;
						text-align: center;
						.woocommerce-variation-add-to-cart {
							display: block;
							text-align: center;
						}
					}
				}
			}
			.related {
				h2 {
					font-size: 24pt;
					line-height: 30pt;
					text-align: center;
				}
			}
		}
	}
	.woocommerce[class*=columns-] {
		ul.products {
			margin: 0;
			li.product {
				width: 100%;
				display: inline-block;
				float: none;
				margin: 0;
				padding: 0 0 15px;
				min-height: auto;
			}
		}
		#temp_load {
			margin-top: 0;
		}
	}
	.woocommerce {
		ul.products {
			margin: 0;
			li.product {
				width: 100%;
				float: none;
				margin: 0;
				padding: 0 0 15px;
				min-height: auto;
				a {
					img {
						margin: 0;
					}
					h3 {
						margin: 0 0 10px;
					}
					.price {
						display: block;
					}
				}
			}
		}
		div.product {
			.woocommerce-tabs {
				.panel {
					padding: 0 15px;
				}
			}
		}
		table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
			display: inline-block;
			float: none;
		}
		table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
			text-align: center !important;
		}
		table.shop_table_responsive tr td {
			&:before {
				margin-right: 15px;
			}
		}
		table.shop_table_responsive tr.shipping {
			td {
				&:before {
					display: inline-block;
					vertical-align: middle;
				}
				ul#shipping_method {
					margin: 0;
					padding: 0;
					text-align: left;
					display: inline-block;
					vertical-align: middle;
					li {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.woocommerce-cart table.cart td.actions .coupon {
		display: block;
		#coupon_code {
			width: 100%;
			text-align: center;
		}
		.button {
			width: 100%;
		}
	}
	.woocommerce-cart table.cart {
		margin: 0;
	}
	.woocommerce-cart table.cart td {
		padding: 10px;
		&.product-name {
			text-align: center !important;
			a {
				display: block;
			}
		}
		&.product-price {
			font-family: 'din light';
			font-size: 14pt;
		}
	}
	.woocommerce-cart table.cart td.product-quantity input, .quantity {
		display: inline-block;
	}
	#Newsletter {
		.news_image {
			display: none;
			&:before {
				background: linear-gradient(to bottom, transparent, $blue);
				width: 100%;
			}
		}
		article {
			margin: 0;
		}
		form {
			display: block;
			width: 100%;
			margin: 0 auto;
			padding: 15px;
			text-align: center;
			h3 {

			} 
			p {
				width: auto;
				font-size: 14pt;
				margin-bottom: 15px;
			}
			input {
				display: block;
				width: 100%;
				margin: 0;
			}
			button {
				margin: 25px 0 0;
			}
		}
	}
	#instafeed {
		margin: 0 0 -6px;
		a {
			width: 100%;
			&:hover {
				.playwrap {
					@include transform(scale(0));
				}
			}
		}
	}
	.m-scooch {
		.arrow {
			width: 50px;
		}
	}
	footer {
		padding: 15px;
		text-align: center;
		h3 {
			margin-bottom: 10px;
		}
		article {
			display: none;
			img {
				margin: 5px auto 10px;
				display: block;
			}
			&:last-child {
				margin: 0;
				display: block;
			}
		}
	}
	.woocommerce-checkout {
		#singlePage {
			margin-bottom: 25px;
		}
		.woocommerce-info {
			margin-bottom: 15px;
		}
		#customer_details, #order_review {
			width: 100%;
			display: block;
		}
		.checkout {
			.col-2 {
				margin: 15px 0;
			}
		}
		.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
			margin: 0;
		}
		input {
			border: 1px solid $lightgrey;
		}
	} 
}
@media(max-width:600px) {
	.wrap#contactPage {
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		form {
			margin: 0;
			section {
				input {
					font-size: 16pt;
					margin: 0 0 5px;
				}
				div {
					width: 100%;
					display: block;
					float: none;
					margin: 0 0 5px;
				}
				textarea {
					border: 1px solid $grey;
					margin: 25px 0;
					font-size: 14pt;
				}
			}
		}
	}
}
@media(max-width:441px) {
	#Newsletter {
		article {
			width: 100%;
		}
		form {
			width: 100%;
		}
	}
}
@media(max-width:375px) {
	footer {
		h3 {
			font-size: 10pt;
		}
	}
}
@media(max-width:320px) {
}